@import "variables.scss";

@mixin transition(
  $property: all,
  $duration: 0.45s,
  $ease: cubic-bezier(0.65, 0, 0.076, 1)
) {
  transition: $property $duration $ease;
}

// Button
a.btn {
  cursor: pointer;
  display: block;
  font-size: 1rem;
  height: auto;
  outline: none;
  max-width: 200px;
  padding: 0;
  position: relative;
  text-decoration: none;
  width: 50%;

  &.red {
    .circle {
      background: $red;
    }
    .text {
      color: $red;
    }
  }

  &.black {
    .circle {
      background: $black;
    }
    .text {
      color: $black;
    }
  }

  &:hover {
    .circle {
      width: 100%;

      .icon.arrow {
        background: $white;
        transform: translate(1rem, 0);
      }
    }
    .text {
      color: $white;
    }
  }

  .circle {
    @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
    position: relative;
    display: block;
    margin: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 1.625rem;

    .icon {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      background: $white;

      &.arrow {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
        left: 0.15rem;
        width: 1.125rem;
        height: 0.125rem;
        background: none;
        &::before {
          position: absolute;
          content: "";
          top: -0.25rem;
          right: 0.0625rem;
          width: 0.625rem;
          height: 0.625rem;
          border-top: 0.125rem solid $white;
          border-right: 0.125rem solid $white;
          transform: rotate(45deg);
        }
      }
    }
  }

  .text {
    @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.25rem 0 0.25rem 0.5rem;
    margin: 0 0 0 1.85rem;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
  }
}

// Rotating Text
.rotating-text {
  color: $white;
  font-family: $secondary-font;
  font-size: 48px;
  font-weight: 500;
  // text-align: center;
  padding: 0 20px;

  #text-rotate {
    display: inline;

    & > .cursor {
      animation: blink 1s infinite;
      border-bottom: 4px solid $orange;
      display: inline-block;
      margin-left: 0.25rem;
      width: 1.5rem;
    }
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// Typewriter Animation
h1.typewriter {
  animation: typing 3.5s steps(30, end), blink-caret 0.8s step-end infinite;
  border-right: 4px solid $orange;
  color: $white;
  display: inline-block;
  font-family: $secondary-font;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: $orange;
  }
}

// CSS Wave Animation
.waves {
  position: relative;
  left: 0;
  right: 0;
  height: 15vh;
  margin-bottom: -5px;
  max-height: 150px;
  min-height: 100px;
  width: 100vw;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
}

// Floating Embers Animation
#embers {
  position: fixed;
  top: 0;
  right: 20px;
  width: 480px;
  height: 100vh;
  background: transparent;
  z-index: -1;

  #ember_01 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../assets/ember_01.png) repeat-y;
  }
  #ember_02 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../assets/ember_02.png) repeat-y;
  }
  #ember_03 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    margin-left: -180px;
    background: url(../assets/ember_03.png) repeat-y;
  }
}
