@import "./variables.scss";

main.app.dashboard {
  background: url("../assets/bg-embers.jpg") no-repeat top center fixed;

  footer {
    background: transparent;
  }
}

.chart-container {
  background: $ghost;
  border-radius: 16px;
  box-shadow: 0 30px 50px $black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: calc(100vh - (150px + 2rem));
  margin: 0 2rem 2rem;
  width: calc(100vw - 4rem);

  .ember-buy-btn {
    background: $red-orange-gradient;
    align-items: center;
    color: $white;
    justify-content: center;
    display: flex;
    height: 50px;
    width: 150px;
    position: absolute;
    right: 4.5rem;
    top: calc(150px + 2.5rem);
  }
}

@media (max-width: 700px) {
  .chart-container {
    height: 500px;
    margin: 0 1rem 1rem;

    .ember-buy-btn {
      width: 100px;
    }
  }
}
