@import "variables.scss";

#education {
  padding-bottom: 5rem;

  h1 {
    font-weight: 300;
    margin-bottom: 2rem;
  }

  h5 {
    font-weight: 400;
  }

  .row {
    justify-content: space-between;

    .col {
      align-items: center;
      max-width: 35vw;
    }
  }

  ul li {
    border-top: 1px solid $gray;

    strong {
      color: $white;
      display: block;
      font-family: $heading-font;
      font-weight: 900;
    }
  }
}
