@import "variables.scss";

$recoveryNegativeMargin: 60px;

#recovery {
  padding-bottom: 5rem;

  h2 {
    margin-bottom: 2rem;
    text-align: center;
  }

  h5 {
    font-weight: 400;
    margin-bottom: 2rem;
    text-align: center;
  }

  .row {
    justify-content: space-between;

    .col {
      align-items: center;

      &:first-child {
        margin-right: 5rem;
      }
    }
  }

  .card-border {
    background: hsla(210, 3%, 13%, 0.5);
    border-radius: 16px;
    padding: 2rem;
  }

  .card {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    margin-top: $recoveryNegativeMargin;
    padding: 0 3rem 3rem;
    text-align: center;

    img {
      margin: -$recoveryNegativeMargin 0 0;
      max-width: 50%;
    }
  }

  a.btn {
    margin: 2rem auto 0;
    width: 200px;
  }

  @media (max-width: 1000px) {
    h5 {
      font-size: 0.9rem;
    }

    .card {
      font-size: 1rem;
      padding: 0 2rem 2rem;
    }
  }

  @media (max-width: 900px) {
    .content {
      padding: 0 1rem;

      &.row .col:first-child {
        margin-right: 2.5rem;
      }

      .card {
        padding: 0 1rem 1rem;
      }
    }
  }

  @media (max-width: 800px) {
    h5 {
      font-size: 1.2rem;
    }

    .card {
      font-size: 1.1rem;
    }

    .row {
      flex-direction: column;

      .col {
        justify-content: center;
        max-width: none;
        text-align: center;
        width: 100%;

        &:first-child {
          margin: 0 0 3rem;
        }
      }
    }
  }

  @media (max-width: 500px) {
    .content {
      padding: 0;
    }

    .card-border {
      padding: 1rem;
    }

    h5 {
      font-size: 1rem;
    }
  }
}
