@import "variables.scss";

$recoveryNegativeMargin: 60px;
$parallaxHeightAdjust: 150px;

main.app.recovery {
  height: 100vh;
  min-width: 360px;

  header {
    background: transparent;
    z-index: 10000;

    nav ul li a:not(.btn) {
      color: $red-orange;
    }

    .mobile-nav nav ul li a {
      color: $white;
    }
  }

  @media (max-height: 800px) {
    header {
      padding-top: 20px;
    }
  }
}

#recovery-page {
  background: $off-white;
  padding: 0;

  h1 {
    font-family: $secondary-font;
    font-weight: 300;
    margin-bottom: 1rem;
    text-align: center;
  }

  h2 {
    color: $dark-grey-blue;
    font-weight: 900;
  }

  h5 {
    color: $fuschia;
    letter-spacing: 8px;
    margin-bottom: 0.5rem;
  }

  a.btn {
    width: 150px;
  }

  .row {
    padding: 4rem 0;

    .col:first-child {
      margin-right: 3rem;
    }
  }

  .overlay {
    margin: -$parallaxHeightAdjust 0;

    .parallax {
      margin-top: -$parallaxHeightAdjust;
    }
  }

  .angled-bg,
  .content {
    min-width: 360px;
  }

  .angled-bg {
    display: none;
    background: $off-white;
    margin-top: -3.75vw;
    min-height: 500px;
    position: absolute;
    transform: skewY(-3deg);
    width: 100vw;
    z-index: 10;
  }

  .content {
    background: $off-white;
    padding: 0 4rem;
    position: relative;
    width: 100vw;
    z-index: 100;

    a {
      color: $fuschia;
      font-weight: bold;
      text-decoration: underline;
    }

    p {
      margin-bottom: 0.75rem;
    }
  }

  .project {
    background: $dark-blue;
    padding: 0 4rem;

    h2,
    strong {
      color: $off-white;
    }

    h5 {
      color: $peach;
    }

    .details {
      color: $off-white;
      font-size: 1.75rem;
      text-align: center;
      padding-top: 0;

      strong {
        color: $peach;
        font-family: $heading-font;
      }
    }

    .cta {
      background: $grey-blue;
      color: $off-white;
      font-size: 1.5rem;
      margin: 0 -4rem;
      padding: 4rem;
      text-align: center;

      h3 {
        font-size: 2.5rem;
      }

      strong {
        color: $fuschia;
      }

      a {
        color: $fuschia;
        text-decoration: underline;

        &:hover {
          color: $red;
        }
      }

      a.btn {
        align-items: center;
        justify-content: center;
        background: $fuschia;
        border-radius: 10px;
        color: $off-white;
        display: none;
        // display: flex;
        font-weight: bold;
        height: 40px;
        margin: 1rem auto 0;
        text-decoration: none;
        width: 100%;
      }
    }
  }

  .constant {
    background-image: url("../assets/bg-burned-rose.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    padding: 120px 0 160px;

    h2 {
      align-items: center;
      background-image: url("../assets/logo-white-ember-outline.svg");
      background-position: center;
      background-repeat: no-repeat;
      color: $white;
      display: flex;
      font-size: 3rem;
      height: 100%;
      justify-content: center;
      letter-spacing: 20px;
      text-align: center;
    }
  }

  .card {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    margin-top: $recoveryNegativeMargin;
    padding: 0 3rem 2rem;
    text-align: center;

    img {
      margin: -$recoveryNegativeMargin 0 0;
      max-width: 80%;
      width: 100%;
    }
  }

  .ocean {
    height: 100px;
    margin-top: -100px;
  }

  @media (max-width: 900px) {
    $recoveryNegativeMargin: 60px;

    .overlay .parallax p {
      padding: 0 5%;
      top: calc(40% + 7rem);
    }

    .content,
    .project {
      .row {
        flex-direction: column;
        padding: 0;

        .col {
          width: 100%;
          padding: 2rem 0;

          &:first-child {
            margin-right: 0;
          }
        }
      }
    }

    .content {
      padding: 4rem;

      .row .col {
        &.image {
          order: 1;
          padding-top: 0;

          img {
            margin: 0 auto;
            width: 60%;
          }
        }

        &:not(.image) {
          order: 2;
        }
      }
    }

    .project {
      padding-top: 2rem;

      .card {
        margin: $recoveryNegativeMargin auto;
        width: 80%;

        img {
          margin: -$recoveryNegativeMargin 0 0;
        }
      }

      .details {
        padding-bottom: 2rem;

        .col {
          padding: 1rem 0;
        }
      }
    }
  }

  @media (max-height: 890px) {
    .overlay .parallax {
      h1 {
        font-size: 9rem;
      }

      h5 {
        top: 28%;
      }

      p {
        line-height: 1.6rem;
        top: calc(40% + 5rem);
      }
    }
  }

  @media (max-height: 850px) {
    .overlay .parallax h1 {
      font-size: 8rem;
    }
  }

  @media (max-height: 820px) {
    .overlay .parallax {
      h1 {
        font-size: 7.5rem;
      }
      h5 {
        display: none;
      }
      p {
        line-height: 1.5rem;
        top: calc(40% + 4rem);
      }
    }
  }

  @media (max-width: 800px) {
    .content {
      margin-top: -200px;
    }
  }

  @media (max-height: 780px) {
    .overlay .parallax {
      h1 {
        font-size: 7rem;
        top: 38%;
      }

      p {
        top: calc(40% + 3rem);
      }
    }
  }

  @media (max-width: 768px) {
    .constant {
      padding-bottom: 55px;
    }

    .ocean {
      height: 40px;
      margin-top: -40px;
    }
  }

  @media (max-height: 740px) {
    .overlay .parallax {
      h1 {
        font-size: 9rem;
        top: 50%;
      }

      p {
        display: none;
      }
    }
  }

  @media (max-width: 700px) {
    $recoveryNegativeMargin: 30px;

    .overlay .parallax {
      h1 {
        top: 50%;
      }
      h5 {
        color: $red;
        top: 38%;
      }
      p {
        display: none;
      }
    }

    .content .row .col.image img {
      width: 80%;
    }

    .project .card {
      margin: $recoveryNegativeMargin auto;

      img {
        margin: -$recoveryNegativeMargin 0 0;
      }
    }
  }

  @media (max-width: 680px) {
    .content {
      margin-top: -240px;
    }
  }

  @media (max-width: 600px) {
    $recoveryNegativeMargin: 20px;

    .overlay .parallax h1 {
      letter-spacing: 15px;
    }

    .content {
      margin-top: -280px;

      .row .col.image img {
        width: 100%;
      }
    }

    .project .card {
      margin: $recoveryNegativeMargin auto;

      img {
        margin: -$recoveryNegativeMargin 0 0;
      }
    }

    .constant {
      height: 500px;
      padding: 0 0 55px;

      h2 {
        background-size: 40%;
        font-size: 2.5rem;
      }
    }
  }

  @media (max-width: 500px) {
    .overlay .parallax h1 {
      font-size: 8rem;
      letter-spacing: 10px;
    }

    .content {
      padding: 4rem 2rem;
    }

    .project {
      padding: 2rem 2rem 0;

      h5 {
        line-height: 1.5rem;
      }

      .details strong {
        font-size: 1.6rem;
      }

      .cta {
        margin: 0 -2rem;
        padding: 2rem;
      }
    }

    .constant h2 {
      font-size: 1.8rem;
      letter-spacing: 10px;
    }
  }

  @media (max-width: 400px) {
    .overlay .parallax h1 {
      font-size: 7rem;
      letter-spacing: 6px;
    }
  }
}
