@import "variables.scss";

$negativeMargin: 5rem;

#rewards {
  background: $black;
  padding-bottom: $negativeMargin;

  h1 {
    margin: 0 auto $negativeMargin * 2;
    max-width: 800px;
    text-align: center;
  }

  .content .row {
    flex-direction: row;

    .col.card {
      margin: 0 1rem;
      padding: 0 2rem 2rem;
      width: calc(30% - 2rem);

      img {
        margin: -$negativeMargin auto 1rem;
        height: 200px;
      }

      p {
        flex-grow: 2;
      }
    }
  }

  @media (max-width: 1000px) {
    h1 {
      margin: 0 auto;
    }

    .content .row {
      flex-direction: column;

      .col.card {
        margin: $negativeMargin * 1.5 0 0;
        text-align: center;
        width: 100%;
      }
    }
  }
}
