@import "./variables.scss";

#team {
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5rem;
  text-align: center;

  .bio {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2rem;

    h3 {
      background: $orange;
      color: $black;
      display: inline-block;
      font-family: $heading-font;
      font-size: 1.25rem;
      font-weight: 900;
      margin: -1.5rem 0 0.5rem;
      padding: 0.25rem 1rem;
      position: relative;
      text-transform: uppercase;
      width: 200px;
      z-index: 10;
    }

    h5 {
      color: $black;
      font-size: 0.9rem;
      letter-spacing: 0;
    }
  }

  @media (max-width: 500px) {
    flex-direction: column;
    margin-top: 2rem;

    .bio {
      margin: 0 0 2rem;
    }
  }
}
