@import "variables.scss";

#tokenomics {
  padding: 5rem 0 10rem;

  h1 {
    font-weight: 400;
    margin-bottom: 3rem;

    em {
      color: $red-orange;
      font-style: normal;
    }
  }

  h2 {
    margin-bottom: 2rem;
    text-align: center;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: 900;
    letter-spacing: 10px;
    margin-bottom: 4rem;
    text-transform: uppercase;
  }

  h4 {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }

  h5 {
    text-align: center;
  }

  .content > .row {
    flex-direction: column;

    & > .col {
      margin-bottom: 5rem;
      width: 100%;

      &:first-child .card img {
        margin-bottom: 0;
      }
    }
  }

  .card {
    align-items: center;
    display: flex;
    height: 700px;
    justify-content: center;
    padding: 3rem;
    text-align: center;

    .card-content {
      width: 100%;
    }

    img {
      margin-bottom: 4rem;
      max-height: 50vh;
      max-width: 100%;
    }

    strong {
      color: $white;
      display: block;
      font-family: $heading-font;
      font-size: 1.75rem;
      font-weight: 900;
      letter-spacing: 2px;
    }

    ul {
      margin-bottom: 3rem;

      li:first-child {
        color: $white;
        letter-spacing: 5px;
        text-transform: uppercase;
      }
    }

    .row {
      justify-content: space-between;

      .col {
        align-items: center;
      }
    }
  }

  // Card specific styles
  #ember-tokenomics img {
    margin: -100px 0 0 0;
    max-height: 600px;
  }

  #nft-rewards {
    background-image: $black-gradient, url("../assets/bg-nft.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .revenue {
    text-align: center;

    .subheading {
      font-family: $heading-font;
      font-size: 1rem;
      letter-spacing: 5px;
      text-transform: uppercase;
    }

    strong {
      display: block;
      font-family: $heading-font;
      font-size: 1.75rem;
      font-weight: 900;
      letter-spacing: 2px;

      &.orange {
        color: $orange;
      }
      &.red {
        color: $red;
      }
      &.blue {
        color: $blue;
      }
    }
  }

  @media (max-width: 1000px) {
    .slider .slider__inner .slider__contents {
      padding: 0;
    }

    .card {
      padding: 2rem;
    }
  }

  @media (max-width: 850px) {
    .slider {
      height: 925px;
    }

    #ember-tokenomics.card {
      height: 750px;

      .card-content {
        img {
          margin: 0;
        }

        .row {
          align-items: center;
          flex-direction: column;

          .col {
            margin-bottom: 1rem;
          }
        }
      }
    }
  }

  @media (max-width: 800px) {
    .slider {
      height: 875px;
    }

    #ember-tokenomics.card {
      height: 700px;
    }
  }

  @media (max-width: 700px) {
    padding-bottom: 5rem;

    .slider {
      height: 775px;
    }

    h2 {
      font-size: 2rem;
    }

    #ember-tokenomics.card {
      height: 600px;

      .card-content img {
        margin: -20px 0 -30px;
      }
    }
  }

  @media (max-width: 600px) {
    .content {
      padding: 0;
    }

    .slider .slider__inner .slider__contents {
      padding: 0 1rem;
    }
  }

  @media (max-width: 500px) {
    .slider {
      height: 675px;
    }

    #ember-tokenomics.card {
      height: 500px;
    }
  }
}
