@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Nunito+Sans&display=swap");

$black: #000;
$orange: #f7931e;
$red: #ff002b;
$gray: #999999;
$white: #fff;

$btn-gradient: linear-gradient(45deg, $orange 12%, $red 12%);
