@import "animations.scss";

#welcome {
  .content {
    display: inline-block;
    padding-left: 80px;
    max-width: calc(50% - 80px);
  }

  .large-ember > img {
    width: 100%;
    height: 100%;
    margin-top: -100px;
  }

  a {
    position: relative;
    top: 20px;
    margin-right: 10px;
  }
}

@media (max-width: 1000px) {
  #welcome {
    .content {
      padding-left: 40px;
      max-width: calc(50% - 40px);
    }
  }
}

@media (max-width: 900px) {
  #welcome {
    .content {
      padding-left: 20px;
      max-width: calc(50% - 20px);
    }
  }
}

@media (max-width: 850px) {
  #welcome {
    .content {
      padding-left: 0;
      min-width: 380px;
      width: 380px;
    }

    .large-ember {
      width: calc(100vw - (380px + 40px));
    }
  }
}

@media (max-width: 600px) {
  #welcome {
    .content {
      max-width: 100%;
      min-width: 100%;
      width: 100%;
    }

    .large-ember {
      width: 100%;

      img {
        margin-top: 0;
      }
    }
  }
}
